- if @listing_presenter.shape[:shipping_enabled] || @listing_presenter.shape[:installation_enabled]
  .delivery-options-container
    = field_set_tag t("listings.form.price.delivery"), class: "delivery-title" do
      - if @listing_presenter.shape[:shipping_enabled]
        .delivery-row-low
          .delivery-checkbox
            = check_box_tag "listing[delivery_methods][]", "shipping", @listing_presenter.shipping_enabled, id: "shipping-checkbox", class: "delivery-method-checkbox required"
          .delivery-left-field
            = label_tag "shipping-checkbox", t("listings.form.price.shipping"), class: "shipping-options-label"
      - if @listing_presenter.shape[:shipping_enabled]
        .js-shipping-price-container
          .delivery-row-tall
            .delivery-left-field.shipping-price-container.shipping-price-default
              .delivery-row
                .delivery-label-cont
                  = form.label :shipping_price, t("listings.form.price.shipping_price"), class: "shipping-options-label"
                .delivery-input-cont
                  .delivery-currency
                    = render partial: "listings/form/price_currency", locals: {form: form}
                  = form.text_field :shipping_price, class: "price-field delivery-price-field", maxlength: 10, placeholder: 0, value: @listing_presenter.shipping_price
            .delivery-row-tall
              .delivery-left-field.shipping-price-container.js-shipping-price-additional{class: @listing_presenter.always_show_additional_shipping_price ? "" : "hidden"}
                .delivery-row
                  .delivery-label-cont
                    = form.label :shipping_price_additional, t("listings.form.price.shipping_price_additional"), class: "shipping-options-label"
                  .delivery-input-cont
                    .delivery-currency
                      = render partial: "listings/form/price_currency", locals: {form: form}
                    = form.text_field :shipping_price_additional, class: "price-field delivery-price-field", maxlength: 10, placeholder: 0, value: @listing_presenter.shipping_price_additional_in_form
      - if @listing_presenter.shape[:installation_enabled]
        .delivery-row-low
          .delivery-checkbox
            = check_box_tag "listing[delivery_methods][]", "installation", @listing_presenter.installation_enabled, id: "installation-checkbox", class: "delivery-method-checkbox required"
          .delivery-left-field
            = label_tag "installation-checkbox", t("listings.form.price.installation"), class: "shipping-options-label"
      - if @listing_presenter.shape[:installation_enabled]
        .js-installation-price-container
          .delivery-row-tall
            .delivery-left-field.installation-price-container.installation-price-default
              .delivery-row
                .delivery-label-cont
                  = form.label :installation_price, t("listings.form.price.installation_price"), class: "shipping-options-label"
                .delivery-input-cont
                  .delivery-currency
                    = render partial: "listings/form/price_currency", locals: {form: form}
                  = form.text_field :installation_price, class: "price-field delivery-price-field", maxlength: 10, placeholder: 0, value: @listing_presenter.installation_price
      .delivery-row-low
        .delivery-checkbox
          = check_box_tag "listing[delivery_methods][]", "pickup", @listing_presenter.pickup_enabled, id: "pickup-checkbox", class: "delivery-method-checkbox required"
        .delivery-left-field
          = label_tag "pickup-checkbox", t("listings.form.price.pickup"), class: "shipping-options-label"
